# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Data files
*.hdf5
*.h5
*.nc
*.mat

# OS
.DS_Store
Thumbs.db